.post {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    border: black solid;
    border-radius: 6px;
    padding: 1rem;
    width: 75%;
    font-size: larger;
}
.post__contact_user {
    font-weight: bold;
}
.create_post_btn {
    margin-left: 30%;
    height: 55px;
    border: black solid ;
    border-radius: 6px;
    font-size: larger;
}
.create_post_btn:hover {
    border: blue solid 0.5rem;
}
